<!doctype html>
<html lang="en">
  <!-- <Header> -->
  <%- include("chucnang/header.ejs") %>
  <!-- <End of Header> -->

  <body>
      <!-- Navnar -->
    <%- include("chucnang/navbar.ejs") %>
      <!-- End of Navnar -->

    <p>ID hóa đơn: <%= donhang.idhoadon %></p>
    <p>Hình thức thanh toán: <%= donhang.thanhtoan %></p>
    <p>Mã giao dịch: <%= donhang.magiaodich %> </p>
    <p>Số tiền: <%= donhang.thanhtien %></p>
      <p>Thời gian đặt hàng: <%= new Date(donhang.thoigian).toLocaleString() %></p>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên sản phẩm </th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Số lượng</th>
       
        </tr>
      </thead>
      <tbody>
        <% donhang.hang.forEach(element => { %>
          <tr>
          <th scope="row"></th>
          <td><%= element.ten %></td>
          <td><%= element.gia %></td>
          <td><%= element.soluongdat %></td>
        
        </tr>
        <%  }); %>

      </tbody>
    </table>
        
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>