<!doctype html>
<html lang="en">

<!-- <Header> -->
<%- include("chucnang/header.ejs") %>
<!-- <End of Header> -->

<body>
  <!-- Navnar -->
  <%- include("chucnang/navbar.ejs") %>
  <!-- End of Navnar -->
  <div style="padding-top: 50px; padding-bottom: 30px;">
    <h4 style="color: red;"><strong>DANH MỤC</strong></h4>
  </div>
  <div class="owl-carousel owl-theme margin-items outer-center-vertical-brand" id="key-items"
    style="width: 100%; height: 50%;">
    <%  find.forEach(element => { %>
    <button class="btn btn-outline-danger btn-lg"><a style="color: inherit; font-weight: 600; text-decoration: none;"
        href=<%= "danhmuc/" + element.ten %>> <%= element.ten %></a></button>
    <% }); %>
  </div>

  <p>Thông tin đơn hàng</p>

  <div class="card" style="width: 18rem;">
    <img src=<%= mathang.anh %> alt=<%= mathang.ten %>>
    <div class="card-body">
      <h5 class="card-title"> Mặt hàng: <%= mathang.ten %></h5>
      <p> Mô tả: <%= mathang.mota %></p>
      <P>Số lượng <%= soluongdat %></p>
      <p class="card-text">Thành tiền: <%= mathang.gia*soluongdat %>đ</p>
      <form action="xacnhanthanhtoan" method="post">
        <input type="hidden" name="ten" value=<%= mathang.ten %>>
        <input type="hidden" name="anh" value=<%= mathang.anh %>>
        <input type="hidden" name="mota" value=<%= mathang.mota %>>
        <input type="hidden" name="id" value=<%= mathang.id %>>
        <input type="hidden" name="soluongdat" value=<%= soluongdat %>>
        <input type="hidden" id="thanhtien" name="thanhtien" value=<%= mathang.gia*soluongdat %>>
        <label>Hình thức thanh toán</label>
        <select name="thanhtoan" id="thanhtoan">
          <!-- Su dung forEach -->
          <option value="momo"> Momo</option>
          <option value="vnpay">VNPAY</option>
          <option value="ether">Ether</option>
        </select>
        <button type="submit">Xác nhận</button>

      </form>

    </div>
  </div>


  <script>

  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>