<!doctype html>
<html lang="en">

  <!-- <Header> -->
    <%- include("chucnang/header.ejs") %>
    <!-- <End of Header> -->
  
    <body>
        <!-- Navnar -->
      <%- include("chucnang/navbar.ejs") %>
        <!-- End of Navnar -->
        <ul>
          <p>Danh mục</p>
          <%  find.forEach(element => { %>
            <li><a href=<%= "danhmuc/" + element.ten %> > <%= element.ten %></a></li>
    
          <% }); %>
        </ul>
  

    <p>Thông tin đơn hàng</p>
<p>Tổng số tiền: <%= tongtien %>  </p>
  <form action="xacnhanthanhtoangiohang" method="post">
    <input type="hidden" name="idgiohang" value="<%= giohang.idgiohang %>">
    <label>Hình thức thanh toán</label>
    <select name="thanhtoan" id="thanhtoan">
      <!-- Su dung forEach -->
        <option value= "momo" > Momo</option>
        <option value= "vnpay" >VNPAY</option>
        <option value= "ether" >Ether</option>
    </select>
    <button type="submit" class="btn btn-success">Xác nhận</button>

  </form>
  <% giohang.mathang.forEach(mathang => { %>
  <div class="card" style="width: 18rem;">
    <img src=<%= mathang.anh %> alt=<%= mathang.ten %>>
    <div class="card-body">
      <h5 class="card-title"> Mặt hàng: <%= mathang.ten %></h5>
      <p> Mô tả: <%= mathang.mota %></p>
      <P>Số lượng <%= mathang.soluongdat %></p>
      <p class="card-text">Thành tiền: <%= mathang.gia*mathang.soluongdat %>đ</p>
     
    </div>
  </div>
  <% }); %>

  <script>
    
  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>