<!DOCTYPE html>
<html>
   <!-- <Header> -->
    <%- include("chucnang/header.ejs") %>
    <!-- <End of Header> -->
  
    <body>
        <!-- Navnar -->
      <%- include("chucnang/navbar.ejs") %>
        <!-- End of Navnar -->
        <div class="container" style="max-width: 600px!important;">
          <h1 style="color: rgb(224, 51, 51);"><%= title %></h1>
          <h1> <%= status %> </h1>
          <div style="text-align: center;">
            <form method="POST" action="/themchuyenmuc">
              <div class="form-group">
                <!-- <label style="font-size: 24px; font-weight: 500; color: rgb(224, 51, 51); margin-bottom: 20px;" for="">Tên chuyên mục</label> -->
                <input type="text" name="ten" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tên chuyên mục">
                <!-- <label style="font-size: 24px; font-weight: 500; color: rgb(224, 51, 51);margin-top: 20px; margin-bottom: 20px;" for="">URL chuyên mục</label>
                <input type="text" name="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter url"> -->
              </div>
              <button style="margin-top: 20px;" type="submit" class="btn btn-danger">Thêm</button>
            </form>
          </div>
          
        </div>
        <div class="container">
          <h2>Danh sách chuyên mục</h2>
          <table class="table" style="width: 50%;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% var counter = 1; %> 
              <%  dsChuyenMuc.forEach(element => { %>
                <tr>
                  <td><%= counter %> </td>
                  <% counter = counter +1 %> 
                  <td>
                    <form id=<%= "update-form" + element.ten%> method="POST">
                      <input class="form-control" type="hidden" name="old_ten" value="<%= element.ten %>">
                      <input class="form-control" type="text" name="new_ten" placeholder="<%= element.ten %>" value="">
                    </form>
                  </td>
                  <td>
                    <form method="POST">
                      <input type="hidden" name="ten" value="<%= element.ten %>">
                      <button class="btn btn-warning" type="submit" formaction="/suachuyenmuc" form=<%= "update-form" + element.ten%>>Lưu</button>
                      <button class="btn btn-danger" type="submit" formaction="/xoachuyenmuc">Xoá</button>
                    </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
          
        </div>
        <%- include("chucnang/footer.ejs") %>
  </body>
</html>
